# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundand
# environment sector is assumed present.
# Notice, that the "Number of sectors" is ignored on NOR.

# MTD device name	Device offset	Env. size	Flash sector size	Number of sectors
# CNS3XXX serial flash
#/dev/mtd1		0x0000		0x1000		0x10000
/dev/mtd1		0x0000		0x10000		0x10000

